@use 'sass:map';
@use '../../functions/meta/parse-directions/parse-directions.scss' as *;

/**
 * Shorthand for set nullable margin properties.
 *
 * @param    {list}    $values    Margin values list in default order (top-right-bottom-left).
 */
@mixin margin($values...) {
	$values: parse-directions($values...);
	margin-top: map.get($values, 'top');
	margin-right: map.get($values, 'right');
	margin-bottom: map.get($values, 'bottom');
	margin-left: map.get($values, 'left');
}
