@use 'sass:color';
@use 'sass:math';

/**
 * Mixes a given color with white.
 *
 * @param    {color}     $color          The original color.
 * @param    {number}    $amount [10]    Amount of the white color in the result color (%).
 *
 * @return   {color}     The result color.
 */
@function tint($color, $amount: 10) {
	$mixed: color.mix(#ffffff, $color, $amount * 1%, rgb);
	$r: math.round(color.channel($mixed, 'red'));
	$g: math.round(color.channel($mixed, 'green'));
	$b: math.round(color.channel($mixed, 'blue'));

	@return rgb($r, $g, $b);
}
