// @todo description
@use 'sass:list';

@function transform-null($value, $separator: auto, $skip: false) {
	$original-separator: list.separator($value);
	$separator: if($separator == auto, $original-separator, $separator);

	$list: ();

	@for $i from 1 through length($value) {
		$current: list.nth($value, $i);

		@if $current == null or $current == n {
			$list: list.append($list, if($skip, null, 0), $separator);
		} @else {
			$list: list.append($list, $current, $separator);
		}
	}

	@return $list;
}
