/**
 * Sets the element size to 100% of its parent size and makes it positioned absolutely.
 */
@mixin full-size {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
