@use 'sass:map';
@use '../../functions/meta/parse-directions/parse-directions.scss' as *;

/**
 * Shorthand for set nullable padding properties.
 *
 * @param    {list}    $values    Padding values list in default order (top-right-bottom-left).
 */
@mixin padding($values...) {
	$values: parse-directions($values...);
	padding-top: map.get($values, 'top');
	padding-right: map.get($values, 'right');
	padding-bottom: map.get($values, 'bottom');
	padding-left: map.get($values, 'left');
}
