@use '../../../node_modules/sass-true' as *;
@use './border-radius.scss' as *;

@include describe('border-radius (mixin)') {
	// @todo: Find a way to test these cases
	// @include it('Throws if no parameters specified')

	@include it('Works well with single value as argument') {
		@include assert() {
			@include output {
				@include border-radius(10px);
			}

			@include expect {
				border-radius: 10px;
			}
		}
	}

	@include it('Works well with multiple values, including `null` and `n` cases') {
		@include assert() {
			@include output {
				@include border-radius(10px n 50% null);
			}

			@include expect {
				border-radius: 10px 0 50% 0;
			}
		}
	}

	@include it('Works well if standard direction is set') {
		@include assert() {
			@include output {
				@include border-radius(10px, 'top-left');
			}

			@include expect {
				border-top-left-radius: 10px;
			}
		}
	}

	@include it('Works well with non-standard directions') {
		@include assert() {
			@include output {
				@include border-radius(10px, 'cross-left');
			}

			@include expect {
				border-top-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}
