/**
 * [EN]
 * Clearfix, applying to element itself, creates styles to clear flow after using float elements.
 *
 * [RU]
 * Clearfix, применяется непосредственно к элементу, добавляет стили для очистки потока.
 *
 * [Example]
 * .clearfix-element {
 *   @include clearfix-element;
 * }
 */
@mixin clearfix-element {
	content: '';
	display: block;
	clear: both;
}
