/**
 * [EN]
 * Center element via absolute positioning and transform property.
 *
 * [RU]
 * Центирует элемент через абсолютное позиционирование и трансформирование.
 *
 * [Example]
 * .block {
 *   @include transform-center;
 * }
 */
@mixin transform-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
