@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

/**
 * Joins a given list elements with a string.
 * 
 * @param    {list}      $pieces       The input list.
 * @param    {string}    $glue ['']    The output string separator.
 * 
 * @return   {string}    A string representation of all the list elements in the same order, with the separator string between each element.
 */
@function implode($pieces, $glue: '') {
	$result: null;

	@for $i from 1 through list.length($pieces) {
		$piece: list.nth($pieces, $i);
		@if meta.type-of($piece) == list {
			$result: string.unquote('#{$result}#{$glue}#{implode($piece, $glue)}');
		} @else {
			$result: string.unquote('#{$result}#{$glue}#{$piece}');
		}
	}

	@if $result != null {
		$result: string.slice($result, string.length($glue) + 1, -1);
	}

	@return $result;
}
