/**
 * [EN]
 * Applying to parent element, creates ::after to clear flow.
 *
 * [RU]
 * Применяется к родительскому элементу, создаёт псевдо-элемент ::after для очистки потока.
 *
 * [Example]
 * .block {
 *   @include clearfix;
 * }
 */
/* stylelint-disable aditayvm/at-rule-no-children */
@mixin clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
