/**
 * This is the coupled pair of mixins
 * used to clear the flow after using floating elements.
 */

/**
 * Clears the flow inside of the current element via creating the ::after pseudo-element.
 */
@mixin clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

/**
 * Clears the flow around the current element.
 */
@mixin clearfix-element {
	display: block;
	clear: both;
}
