@use 'true' as *; // sass-true
@use './fluid-font.scss' as *;

@include describe('Mixins') {
	@include describe('fluid-font') {
		@include it('Outputs the correct content') {
			@include assert {
				@include output {
					@include fluid-font((320px, '14px/1.5'), (1280px, '20px/1.4'));
				}
				@include expect {
					font-size: 14px;
					line-height: 21px;

					@media (min-width: 320px) {
						font-size: calc(14px + 6 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						font-size: 20px;
					}

					@media (min-width: 320px) {
						line-height: calc(21px + 7 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						line-height: 28px;
					}
				}
			}
		}
		@include it('Works correctly if only font-size values given') {
			@include assert {
				@include output {
					@include fluid-font((320px, 14px), (1280px, 24px));
				}
				@include expect {
					font-size: 14px;

					@media (min-width: 320px) {
						font-size: calc(14px + 10 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						font-size: 24px;
					}
				}
			}
		}
		@include it('Works correctly if only line-height values given (it must be not unitless') {
			@include assert {
				@include output {
					@include fluid-font((320px, '/20px'), (1280px, '/16px'));
				}
				@include expect {
					line-height: 20px;

					@media (min-width: 320px) {
						line-height: calc(20px + -4 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						line-height: 16px;
					}
				}
			}
		}
	}
}
