/**
 * [EN]
 * Visually hides element, but stay it accessible.
 *
 * [RU]
 * Визуально скрывает элемент, но оставляет его доступным.
 *
 * [Example]
 * .screen-reader-text {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	z-index: -1;
	width: 1px;
	height: 1px;
	margin: -1px;
}
