/**
 * Visually hides the element but keeps it accessible.
 */
@mixin visually-hidden {
	position: absolute;
	z-index: -1;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
