/**
 * Truncates text of the current element and adds an ellipsis to represent overflow.
 *
 * @param    {number}    $max-width [100%]    The element width limit.
 */
@mixin ellipsis($max-width: 100%) {
	max-width: $max-width;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
