@use 'true' as *; // sass-true
@use './ellipsis.scss' as *;

@include describe('Mixins') {
	@include describe('ellipsis') {
		@include it('Outputs the correct content') {
			@include assert {
				@include output {
					@include ellipsis;
				}

				@include expect {
					max-width: 100%;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}

		@include it('Considers the `$max-width` argument') {
			@include assert {
				@include output {
					@include ellipsis(300px);
				}

				@include expect {
					max-width: 300px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}
}
