/**
 * [EN]
 * Shortcut for describing block with "text-overflow: ellipsis".
 *
 * [RU]
 * Короткое свойство для описания блока с "text-overflow: ellipsis".
 *
 * [Example]
 * .block {
 *   @include ellipsis;
 * }
 *
 * @param      {String}  $max-width  [100%]   - max-width of element
 */
@mixin ellipsis($max-width: 100%) {
	max-width: $max-width;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
