/**
 * Resets default styles of button elements.
 */
 @mixin reset-button {
	margin: 0;
	padding: 0;
	font: inherit;
	color: currentColor;
	width: auto;
	background: none;
	border: 0;
	box-shadow: none;
	appearance: none;
	-webkit-touch-callout: none;
	touch-action: manipulation; // prevent iOS double tap zoom
	user-select: none;
}
