@use 'sass:list';
@use 'sass:string';

/**
 * Splits a given string to a list of strings.
 * 
 * @param    {string}    $string                The input string.
 * @param    {string}    $delimiter ['']        The boundary string.
 * @param    {string}    $separator ['auto']    The output list separator (space|comma|slash|auto).
 * 
 * @return   {list}      A list containing strings created by splitting the original string.
 */
@function str-split($string, $delimiter: '', $separator: 'auto') {
	$string: #{$string};
	$delimiter: #{$delimiter};
	$output: ();

	@while (string.length($string) > 0) {
		@if ($delimiter == '') {
			$output: list.append($output, string.slice($string, 1, 1), $separator);
			$string: string.slice($string, 2);
		} @else {
			$index: string.index($string, $delimiter);
			
			@if (not $index) {
				$output: list.append($output, $string, $separator);
				$string: '';
			} @else if ($index == 1) {
				$output: $output;
				$string: string.slice($string, $index + string.length($delimiter));
			} @else {
				$output: list.append($output, string.slice($string, 1, $index - 1), $separator);
				$string: string.slice($string, $index + string.length($delimiter));
			}
		}
	}

	@return $output;
}
