@use 'true' as *; // sass-true
@use './use-fluid-prop.scss' as *;

@include describe('Mixins') {
	@include describe('use-fluid-prop') {
		@include it('Works correctly if property value increases') {
			@include assert {
				@include output {
					@include use-fluid-prop('margin-bottom', (320px, 20px), (1280px, 60px));
				}

				@include expect {
					margin-bottom: 20px;

					@media (min-width: 320px) {
						margin-bottom: calc(20px + 40 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						margin-bottom: 60px;
					}
				}
			}
		}

		@include it('Works correctly if property value decreases') {
			@include assert {
				@include output {
					@include use-fluid-prop('margin-bottom', (320px, 60px), (1280px, 20px));
				}

				@include expect {
					margin-bottom: 60px;

					@media (min-width: 320px) {
						margin-bottom: calc(60px + -40 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						margin-bottom: 20px;
					}
				}
			}
		}

		@include it('Considers the `$set-start` argument') {
			@include assert {
				@include output {
					@include use-fluid-prop('margin-bottom', (320px, 20px), (1280px, 60px), false);
				}

				@include expect {
					@media (min-width: 320px) {
						margin-bottom: calc(20px + 40 * (100vw - 320px) / 960);
					}

					@media (min-width: 1280px) {
						margin-bottom: 60px;
					}
				}
			}
		}
	}
}
